// primary
$primary-lightest: #EDEFFD;
$primary-lighter: #B7C2F8;
$primary-light: #8195F3;
$primary: #4C68EF;
$primary-dark: #3548A7;
$primary-darker: #1E295F;
$primary-darkest: #10183C;

// secondary
$secondary-lightest: #D6D9E6;
$secondary-lighter: #ADB3CD;
$secondary-light: #6F7AA7;
$secondary: #324181;
$secondary-dark: #232D5B;
$secondary-darker: #141A34;
$secondary-darkest: #0C1127;

// -------------- SUPPORT COLORS -------------
$purple-lightest: #F2EDFD;
$purple-lighter: #CDB7F8;
$purple-light: #A680F3;
$purple: #824CEF;
$purple-dark: #5A35A7;
$purple-darker: #341E5F;
$purple-darkest: #1C0F35;

// -------------- STATUS COLORS -------------
$green-lightest: #E6FBEB;
$green-lighter: #98EEB0;
$green-light: #53DBA2;
$green: #0ACC7B;
$green-dark: #0ACC7B;
$green-darker: #0ACC7B;
$green-darkest: #0ACC7B;

$yellow-lightest: #FEFAE6;
$yellow-lighter: #FEEB9C;
$yellow-light: #FEDD52;
$yellow: #FECF08;
$yellow-dark: #B19008;
$yellow-darker: #655203;
$yellow-darkest: #655203;

$red-lightest: #FFE7EC;
$red-lighter: #FFA1B6;
$red-light: #FF5C80;
$red: #FF1849;
$red-dark: #B21133;
$red-darker: #66091D;
$red-darkest: #39040F;

$white: #FFFFFF;
$black-lighter: #EAEAEB;
$black-light: #ACACAF;
$black: #6E6E73;
$black-dark: #303138; 

