$primary: #0f78f9;
$dark-primary: #05428d;
$secondary: #6c757d;
$success: #4aa846;
$danger: #dc3b45;
$warning: #ffc33d;
$info: #1aa1b8;
$light: #f8f9fa;
$dark: #343a40;
$white: #ffffff;
$gray: #e0e0e0;
