.list {
  display: flex;
  justify-content: center;

  &__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 85%;

    &--inline {
      flex-direction: column;
      width: 100%;
    }
  }
}
